
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


li {
  display: inline-block;
  list-style: none;
  text-decoration: none;
}
a {
  display: inline-block;
  list-style: none;
  text-decoration: none;
}

