
html{
  min-height: 100%;
  position: relative;
}

.app{
  --colorPrimario: #ff13a7;
  --colorSecundario: #d9d9d9;
  overflow-x: hidden;
  background-image: url("./assets/fotoperfumes3.jpg");
  background-size: cover;
  text-decoration: none;
  list-style: none;
}


.body{
  margin: 0;
  margin-bottom: 110px;

}


@media screen and (min-width: 320px) and (max-width: 500px){
  .app{
    background-image: url("./assets/fp10.jpg");
  }
  
}

