 .titleIndex{
        font-family: "Qwitcher Grypen", cursive;    
        text-transform: lowercase;
        text-shadow: #ff13a7 5px 2px 3px;
        filter: drop-shadow(5px 1px 2px white);
        font-size: 100px;
        margin: 20px;
} 

