.headerContainer {
    display: flex;
    background-color: black;
    width: 100vw;
    height: 120px;
    padding: 25px;
    position: sticky;
    top: 0;
    z-index: 100;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
}

.logoHeader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 2px solid rgb(255, 19, 167, 0.7);
    /* animation-name: girar; */
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: inline-block;
    padding: 8px;
}

.cartMenu{
    margin: 10px;
}


@keyframes girar {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.logoHeader:hover {
    cursor: pointer;
}


.listHeader li {
    color: var(--colorPrimario);
    list-style: none;
    text-decoration: none;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 20px;
}


.liListHeader {
    margin: 8px;
}


.imgHeaderContainer {
    height: 35px;
    width: 35px;
    display: flex;
    background-color: var(--colorPrimario);
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 20%;
}

.imgHeaderContainer:hover {
    filter: drop-shadow(5px 5px 5px var(--colorPrimario));

}



.listHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerIcons {
    display: flex;
}

.activeLink li {
    background-color: var(--colorPrimario);
    padding: 4px;
    border-radius: 5px;
    color: black;
}



@media screen and (min-width: 320px) and (max-width: 500px) {
   
    .listHeaderContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .listHeader {
        display: flex;
        flex-direction: column;

    }

    .listHeader li {
        font-size: 10px;

    }

    .containerIcons {
        display: flex;
    }

    .liListHeader {
        padding: 2px;
    }

    .imgHeaderContainer {
        height: 25px;
        width: 25px;
    }

    .cartEmailHeader {
        width: 25px;
    }

    .activeLink li {
        padding: 4px;
        width: 55px;
    }

    .titlePerfumes{
        font-size: 30px;
    }
}